body{
    font-family: 'Jost', sans-serif;
    text-align: center;
    text-decoration: none;
}

.logo{
    width: 6vw;
}

header{
    font-family: 'Jost', sans-serif;
    height: 10vh;
    padding: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a.badge{
    font-size: 2em;
    text-decoration: none;
}

header a.badge {
    margin-right: 1em;
    font-size: 1.5em;
    background: #F3F3F3;
}

header a.active {
    margin-right: 1em;
    font-size: 2.5em;
    background: #9A1212;
}

.main{
    min-height: 80vh;
    display: flex;
    justify-content: center;
}

.carousel{
    width: 75vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

img {
    width: 12vw;
}

.arrow{
    color: #9A1212;
}

footer{
    font-family: 'Jost', sans-serif;
    background: #F3F3F3;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #9A1212;
}

.arrow-back{
    margin-left: 1em;
    width: 7vw;
    border-radius: 2rem!important;
    background: white;
    color: #9A1212;
}

.address{
    font-size: 1.5em;
    text-align: end;
    padding-right: 1em;
}

.lep{
    position: absolute;
    left: 0vw;
    bottom: 15vh;
}

@media all and (max-width: 1100px){
    header{
        height: 15vh;
    }

    .logo{
        width: 15vw;
    }

    .main{
        min-height: 75vh;
    }

    .carousel{
        width: 90vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }

    img {
        width: 25vw;
    }

    .lep{
        bottom: 12vh;
    }
}

@media all and (max-width: 800px){
    .logo{
        width: 25vw;
        padding-bottom: 1vh;
    }

    header{
        height: 35vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .buttons{
        display: flex;
        flex-direction: column;
    }

    header a.badge {
        margin-bottom: 0.5em;
        font-size: 1.5em;
        margin-right: 0;
    }

    header a.active {
        font-size: 2.5em;
        background: #9A1212;
    }    

    .main{
        min-height: 55vh;
        padding-bottom: 3vh;
    }

    .carousel{
        width: 50vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }

    img {
        width: 50vw;
    }

    .main .arrow{
        display: none;
    }

    footer{
        height: 15vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .arrow-back{
        margin-left: 0;
        width: 40vw;
    }

    .address{
        font-size: 1.3em;
        /* padding-right: 0.5em; */
        text-align: center;
    }

    .lep{
        display: none;
    }
}

@media all and (max-width: 425px){
    .logo{
        width: 25vw;
        padding-bottom: 3vh;
    }

    header{
        height: 35vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .buttons{
        display: flex;
        flex-direction: column;
    }

    header a.badge {
        margin-bottom: 0.5em;
        font-size: 1em;
    }

    header a.active {
        font-size: 1em;
        background: #9A1212;
    }

    .carousel{
        width: 80vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }

    img {
        width: 80vw;
    }

    footer{
        height: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .address{
        font-size: 1em;
    }
}